services:
  redis:
    image: redis:alpine

  keycloak:
    image: quay.io/keycloak/keycloak:26.4
    command: start-dev --import-realm
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
      KC_HOSTNAME: keycloak
      KC_HOSTNAME_PORT: 8080
      KC_HOSTNAME_STRICT: false
      KC_HOSTNAME_STRICT_HTTPS: false
    ports:
      - "8080:8080"
    volumes:
      - ./keycloak-config.json:/opt/keycloak/data/import/keycloak-config.json
  tyk-gateway:
    image: tykio/tyk-gateway:v5.3
    ports:
      - "8081:8081"
    volumes:
      - ./tyk.conf:/opt/tyk-gateway/tyk.conf
      - ./tyk-apps:/opt/tyk-gateway/apps
      - ./policies:/opt/tyk-gateway/policies
    depends_on:
      - redis
      - keycloak
  tyk-plugin:
    image: tyk-dpop-plugin
    ports:
      - "5555:5555"
