services:
  redis:
    image: redis:alpine

  keycloak:
    image: quay.io/keycloak/keycloak:26.4
    command: start-dev
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
    ports:
      - "8080:8080"

  tyk-gateway:
    image: tykio/tyk-gateway:v5.3
    ports:
      - "8081:8081"
    volumes:
      - ./tyk.conf:/opt/tyk-gateway/tyk.conf
      - ./tyk-apps:/opt/tyk-gateway/apps
    depends_on:
      - redis
      - keycloak

  # payment-service:
  #   build: ./payment-service
  #   environment:
  #     - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://keycloak:8080/realms/poc-linh
  #   depends_on:
  #     - keycloak
